<div id="product-cart" th:fragment="product_card(id, url, name, description, price)"
    style="border-radius: 10px; padding: 10px 15px;height: 320px;width: 250px;display: flex;flex-direction: column;background-color: rgb(216, 213, 213);">
    <div style="cursor: pointer;"
     th:onclick="'window.location.href=\'/api/v1/detail/' + ${id} + '\''">
            <img style="height: 150px; width: 100%; object-fit: cover; border-radius: 5px;" th:src="${url}"
            alt="">
        <div>
            <h4 th:text="${name}" id="product-name">Product name</h4>
            <span th:text="${description}" style="
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word; 
                font-size: 13px;
                font-weight: 100;
                min-height: 80px;
            ">product detail is rendered here</span>
        </div>
        <div th:text="${#numbers.formatInteger(price, 0, 'POINT')} + ' ₫'" style="margin: 10px 0px;">Price of product</div>
    </div>
</div>