<nav th:fragment="navbar" class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Vinicorp shop</a>
        <div style="
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    ">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ion-icon style="font-size: 28px;" name="cart-outline"></ion-icon>
        </div>
        
    </div>
</nav>