<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
</head>

<body>
    <style>
        .active {
            border: 2px solid lightblue;
        }
    </style>
    <div th:replace="fragments/navbar :: navbar(userId = ${userId})"></div>
    <h2 style="text-align: center; margin: 20px">Detail page</h2>

    <div style="
        color: white;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        width: fit-content;
        margin: 0 auto;
        border-radius: 6px;
        background-color: rgb(158, 157, 157);
        padding: 15px;
        gap: 30px;
      ">
        <div id="img-of-product" style="
          display: flex;
          flex-direction: column;
          width: 300px;
          height: fit-content;
          gap: 14px;
        ">
            <img style="
            width: 300px;
            height: 190px;
            object-fit: cover;
            border-radius: 5px;
          " th:src="${detailPr.displayAvt}"
                id="current_image" alt="" />
            <div style="
            display: flex;
            flex-direction: row;
            margin-top: 6px;
            justify-content: space-between;
          ">
                <div th:each="img:${detailPr.images}">
                    <img class="thumbnails" onclick="activeThumbnail(this)"
                        style="width: 50px; height: 50px; border-radius: 2px;" th:src="${img}"
                        src="https://hdradio.vn/upload/hinhanh/tai-nghe/Sony/WH-CH520/den/tai-nghe-sony-wh-ch520-den.jpg"
                        alt="" />
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: column; width: 420px">
            <h4 th:text="${detailPr.name}">Tai nghe Sony wh-ch520</h4>
            <div>
                <span>Description:</span>
                <span th:text="${detailPr.description}" style="font-size: 14px; font-weight: 200">Đây là sản phẩm
                    đạt thương hiệu quốc gia về chất lượng,
                    đã được
                    chứng minh qua nhiều quá trình nghiêm ngặt</span>
            </div>
            <div style="margin: 10px 0;">
                <span>Price: </span>
                <span th:text="${#numbers.formatInteger(detailPr.price, 0, 'POINT')} + ' ₫'">9.000.000đ</span>
            </div>
            <div>
                <button id="addCartButton" class="btn btn-primary">Add to card</button>
                <button id="buyNowButton" class="btn btn-success">Buy now</button>
            </div>
            <input id="quantity" th:max="${detailPr.numAvailable}" style="width: 90px; margin-top: 20px" type="number"
                value="1" min="1" />
            <div style="margin-top: 10px;">
                <span>*Avaiable quantity: </span>
                <span th:text="${detailPr.numAvailable}">2002</span>
            </div>
        </div>
    </div>
</body>
<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
<!-- Ion-icon -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script th:inline="javascript">
    function activeThumbnail(element) {
        document.getElementById("current_image").src = element.src;
        let thumbs = document.querySelectorAll(".thumbnails");
        thumbs.forEach(img => img.classList.remove("active"));
        element.classList.add("active");
    }
    const productId = [[${ detailPr.id }]];
    //ADD TO CART
    let addCartButton = document.getElementById("addCartButton");
    addCartButton.addEventListener("click", (e) => {
        e.preventDefault();
        const userId = [[${ userId }]];
        const quantity = document.getElementById('quantity').value;
        const maxStock = [[${ detailPr.numAvailable }]];

        if (quantity > maxStock) {
            alert('Quantity exceeding inventory (' + maxStock + ')');
            return false; // Ngăn submit
        } else if (quantity < 1) {
            alert('The number must be greate than 0');
            return false;
        } else {
            fetch(`http://localhost:8080/api/v1/cart-product/add?userId=${userId}`, {
                method: "POST",
                headers: { "Content-type": "application/json" },
                body: JSON.stringify({
                    product_id: productId,
                    quantity: quantity
                })
            })
                .then((res) => res.json())
                .then((response) => {
                    alert(response.data);
                    document.getElementById('quantity').value = 1;
                })
        }

    })
    //BUY NOW
    document.getElementById("buyNowButton").addEventListener("click", function (e) {
        e.preventDefault();
        const maxStock = [[${ detailPr.numAvailable }]];
        const quantity = document.getElementById('quantity').value;
        console.log("quantity", quantity);
        console.log("productId", productId);
        if (quantity > maxStock) {
            alert("Order exceeds remaining quantity");
        } else {
            fetch("http://localhost:8080/api/v1/order", {
                method: "POST",
                headers: { "Content-type": "application/json" },
                body: JSON.stringify([
                    {
                        product_id: productId,
                        quantity: quantity,
                    }
                ])
            })
                .then((res) => res.json())
                .then((response) => {
                    if (response.status == 200) {
                        window.location.href = "/api/v1/order/confirm"
                    } else {
                        alert(
                            response.data
                        )
                    }

                });
        }
    });
</script>

</html>