<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>order-history</title>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
  <div th:replace="fragments/navbar :: navbar(userId = ${userId})"></div>
  <div>
    <table style="margin-top: 10px;" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Pay method</th>
          <th scope="col">Order status</th>
          <th scope="col">Time of order</th>
          <th scope="col">Lastest update</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="invoice, iStat: ${listInvoice}">
          <th scope="row" th:text="${iStat.index+1}">1</th>
          <!-- <td th:each="product: ${invoice.listProduct}" class="product-name">
            <div th:text="${product.productName}">
              Name of product
            </div>
          </td> -->
          <td class="product-name">
            <div th:each="product : ${invoice.listProduct}">
              <span th:text="${product.productName}"></span>
              (<span th:text="${product.quantity}"></span>)
              <br>
            </div>
          </td>
          <!-- <td>product name</td> -->
          <td th:text="${invoice.payMethod}">pay method</td>
          <td th:text="${invoice.orderStatus}">orderStatus</td>
          <td th:text="${invoice.createdAt}">created at</td>
          <td th:text="${invoice.updatedAt}">updated at</td>
          <td><ion-icon data-bs-toggle="tooltip" data-bs-placement="left" title="Export invoice" name="download-outline"
              style="font-size: 30px; cursor: pointer;"></ion-icon></td>
        </tr>
      </tbody>
    </table>

  </div>
  <!-- <div
        style="justify-content: center;flex-wrap: wrap; gap: 40px;display: flex;flex-direction: row; margin-top: 30px;">
        <div th:each="product: ${allProduct}">
            <div
                th:replace="fragments/card::product_card(url=${product.display_avt}, name=${product.name}, description=${product.description}, price=${product.price}, id=${product.id})">
            </div>
        </div>
    </div> -->
  <!-- <div style="display: flex; flex-direction: row; justify-content: center; margin-top: 30px;">
        <div th:replace="fragments/pagination::pagination"></div>
    </div> -->
</body>
<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<!-- Ion-icon -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</html>