<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div th:replace="fragments/navbar :: navbar(userId = ${userId})"></div>
    <div
        style="justify-content: center;flex-wrap: wrap; gap: 40px;display: flex;flex-direction: row; margin-top: 30px;">
        <h4 style="" th:if="${#lists.isEmpty(products)}">No products found</h4>
        <div th:each="product: ${products}">
            <div
                th:replace="fragments/card::product_card(url=${product.display_avt}, name=${product.name}, description=${product.description}, price=${product.price}, id=${product.id})">
            </div>
        </div>
    </div>
    <!-- <div style="display: flex; flex-direction: row; justify-content: center; margin-top: 30px;">
        <div th:replace="fragments/pagination::pagination"></div>
    </div> -->
</body>
<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
<!-- Ion-icon -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</html>