<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop_app.mapper.ICartMapper">
    <resultMap id="CartProductResultMap" 
               type="com.example.shop_app.DTOs.cart.CartProductViewDTO">
        <!-- <result property="userId" column="user_id"/>
        <result property="cartId" column="cart_id"/> -->
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="price" column="price"/>
        <result property="displayAvt" column="display_avt"/>
        <result property="quantity" column="quantity"/>
    </resultMap>

    <select id="getInfoCartByUserId" resultMap="CartProductResultMap">
        select 
            <!-- c.id as cart_id,
            c.user_id, -->
            cp.product_id,
            cp.quantity,
            p.display_avt,
            p.name as product_name,
            p.price
         from cart c
         join cart_product cp on c.id = cp.cart_id
         join products p on p.id = cp.product_id 
         where c.user_id = #{userId}
    </select>
</mapper>