<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace define the path of interfaceMapper -->
<mapper namespace="com.example.shop_app.mapper.ICartMapper">
    <select id="existCartByUserId" resultType="java.lang.Long">
        SELECT 1
        FROM cart
        WHERE user_id = #{userId}
        LIMIT 1
    </select>

    <select id="getCartByUserId" resultType="java.lang.Long">
        SELECT id
        FROM cart
        WHERE user_id = #{userId}
    </select>

    <insert id="createNewCart" useGeneratedKeys="true">
        insert into cart(user_id) values (#{cart.userId})
    </insert>

    <insert id="addProductToCart">
        insert into cart_product(cart_id, product_id, quantity)
        values (#{cartProduct.cartId}, #{cartProduct.productId}, #{cartProduct.quantity})
    </insert>
</mapper>