<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop_app.mapper.IProductMapper">
    <!-- get all product -->
    <select id="getAllProduct" resultType="Product">
        select * from products
    </select>

    <select id="getProductByName" resultType="Product">
        select * from products where name ilike CONCAT('%', #{keyword}, '%')
    </select>

    <!-- mapping the custom result -->
    <resultMap id="ProductDetailMap" type="com.example.shop_app.DTOs.product.ProductDetailViewDTO">
        <id property="id" column="id"/>
        <result property="description" column="description"/>
        <result property="name" column="name"/>
        <result property="numAvailable" column="num_available"/>
        <result property="price" column="price"/>
        <result property="displayAvt" column="display_avt"/>
        <collection property="images" ofType="string">
            <result column="link_image"/>
        </collection>
    </resultMap>
    <!-- get info detail product page  -->
    <select id="detailProduct" resultMap="ProductDetailMap">
        select p.id, p.display_avt, p.name, p.price, p.description, p.num_available, pi.link_image
        from products as p
        join product_image as pi
        on p.id = pi.product_id
        where p.id = #{productId}
    </select>    
    
    <!-- get product by productId -->
    <select id="getProductById" resultType="com.example.shop_app.domains.Product">
        SELECT *
        FROM products
        WHERE id = #{productId}
    </select>

    <update id="updateProduct">
        update products
        <set>
            <if test="product.name!=null">name = #{product.name}</if>

            <if test="product.price!=null">price = #{product.price}</if>

            <if test="product.description!=null">description = #{product.description}</if>

            <if test="product.numAvailable!=null">num_available = #{product.numAvailable}</if>

            <if test="product.displayAvt!=null">display_avt = #{product.displayAvt}</if>
        </set>
        where id = #{product.id}
    </update>
</mapper>